@font-face {
	font-family: "robotron";
	src: url( /location/of/font/FontFileName.eot ); /* IE */
	src: local("ROBOTRON"), url( ROBOTRON.TTF ) format("truetype"); /* non-IE */
}

body {
	margin: 0px;
	padding: 0px;
	height: 100%;
	background: black;
	font-family: "robotron";
	font-size: 28px;
	color: #eeee00;
	text-align: center;
/*	overflow: hidden; */
}

ul { 
	padding: 0;
	list-style-type: none;
}

.red {
	color: red;
}

.cyan {
	color: cyan;
}


#border1 {
	display: block;
	/*position:absolute;*/
/*	height:auto;*/
	bottom:0;
	top:0;
	left:0;
	right:0;
	margin-top:25px;
	margin-bottom:25px;
	margin-right:25px;
	margin-left:25px;
	background-color: black;
	border: solid rgb(255, 0, 255) 15px;
}

#border2 {
	border: solid rgb(0, 0, 255) 15px;
	display: block;
	/*position:absolute;*/
/*	height:auto;*/
	bottom:0;
	top:0;
	left:0;
	right:0;
	margin-bottom: 0px;
}

#border3 {
	border: solid rgb(0, 255, 0) 15px;
	display: block;
	/*position:absolute;*/
/*	height:auto;*/
	bottom:0;
	top:0;
	left:0;
	right:0;
	margin-bottom: 0px;
}

#border4 {
	border: solid rgb(255, 255, 0) 15px;
	display: block;
	/*position:absolute;*/
/*	height:auto;*/
	bottom:0;
	top:0;
	left:0;
	right:0;
	margin-bottom: 0px;
}

#innermiddle {
	margin-top: 25px;
}

#deathface1 {
	margin-top:  75px;
	margin-bottom:  25px;
	margin-left: auto;
	margin-right: auto;
	background-image: url('data/deathface.png');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100%;
	width: 400px;
	height: 320px;
	border: solid pink 3px;
}

#face {
	height: 100%;
}

#leftscores {
	color: red;
	float: left;
	/*border: solid  blue 1px;*/
	height:  100%;
	font-size: 22px;
	margin-top: 100px;
	line-height: 50px;
	text-align: left;
	margin-left:  10px;
}

#rightscores {
	color: red;
	float: right;
	/*border: solid  blue 1px;*/
	height:  100%;
	font-size: 22px;
	line-height: 50px;
	margin-top: 100px;
	margin-right: 10px;
}

.currentslot {
	color: cyan;
}

.cor_text_block {
	display: block;
	margin-top:  1em;
}

.cor_text_block_header {
	display: block;
	margin-top:  1em;
   color: red;
}

#next_event {
	font-family:  Helvetica;
	font-size: 22px;
}

.event_row {
	margin: 75px 0;
}
.event_container {
	display: inline-block;
}

.flyer {
	width: 250px;
	height: 390px;
	background-image: url('cor_flyer.png');
	background-size: 250px 390px;
	overflow: hidden;
}
.flyer_hilite {
	width: 250px;
	height: 390px;
	background: #FFFF88;
	opacity: 0.0;
}
.flyer_hilite:hover {
	opacity: 0.4;
}

.event_text {
	text-align: left;
	margin-left: 40px;
}
.event_row h2 {
	font-size: 1.5em;
	white-space: nowrap;
}
.event_row p {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 21px;
}
.event_row a {
	color: #00ffff;
	font-weight: 400;
}

.float_left {
	float: left;
}
.white {
	color: #ffffff;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.boxfix {
	/* Prevent padding from spilling text beyond 100% box size */
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ 	*/
}
